<div id="resources" class="file-attachments show-section">
  
  <h2>Resources <a href="#" class="top-link">TOP</a></h2>

  <%= render :partial => 'common/attachments', :locals => { :record => record } %>
  <%= render :partial => 'common/links', :locals => { :record => record } %>
  
</div>