<ul class="inline">
  <li><a href="#description">Description data</a></li>
  <li><a href="#resources">Resources (attachments and links)</a></li>
  <li><a href="#child-components">Child components</a></li>
</ul>