<div class="home">

  <div class="home-content">      
      <h1>Find archival materials</h1>
            
      <%= render :partial => "searches/search_form" %>
      
      <p>Archives contain unique and unpublished records created by people and organizations
        as they lived and worked. They preserve evidence of human activity and achievement.</p>

      <p>From here you can search The New York Public Library's vast archival and manuscript holdings,
        including over 8000 collections from NYPL's three major research centers. You may also
        initiate a research visit, submit a query to an archivist, and access digitized material.</p>
      
  </div>
  
  <div class="site-sponsor">Made possible with generous support from The Robert W. Wilson Charitable Trust,
    The Polonsky Foundation, and The Hermione Foundation.</div>
  
</div>
