<h1>Controlled Access Terms</h1>
<table class="table table-hover">
  
  <thead>
    <tr>
      <th>Term</th>
      <th>Authorized?</th>
      <th>Authority</th>
      <th>URI/record ID</th>
    </tr>
  </thead>
  
  <tbody>
    
    <% @access_terms.each do |t| %>
      <tr>
        <td>
        <%= !t.term_authorized.blank? ? t.term_authorized : t.term_original %>
        </td>
      
        <td>
        <% if !t.term_authorized.blank? %>
          <i class="icon-ok"></i>
        <% end %>
        </td>
            
        <td><%= !t.authority.blank? ? t.authority : '' %></td>
      
        <td>
          <% if !t.value_uri.blank? %>
            <%= t.value_uri %>
          <% elsif !t.authority_record_id.blank? %>
            <%= t.authority_record_id %>
          <% end %>
        </td>
      <tr>
    <% end %>
    
  </tbody>
  
  
</table>
