<div id="footer">
    <span title="Copyright" class="copyright">&copy; <a href="http://www.nypl.org/">The New York Public Library</a>, <%= DateTime.now.strftime('%Y') %></span>
    <ul>
			<li><a href="http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy">Privacy Policy</a></li>
			<li><a href="http://www.nypl.org/help/about-nypl/legal-notices/rules-and-regulations">Rules and Regulations</a></li>
			<li><a href="http://www.nypl.org/help/computers-internet-and-wireless-access/a-safety-net-for-the-internet">Using the Internet</a></li>
			<li><a href="http://www.nypl.org/help/about-nypl/legal-notices/website-terms-and-conditions">Website Terms and Conditions</a></li>
			<li><a href="http://www.nypl.org/help/about-nypl/legal-notices/policy-gifts-materials">Gifts of Materials to NYPL</a></li>
		</ul>
</div>